.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  font-size: 20px;
  line-height: 25px;
  color: var(--text-black-900);
  font-weight: 600;
}

.ciccc-link {
  color: var(--skin-color);
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}

.about .about-content .buttons {
  margin-top: 30px;
}

.about .about-content .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
  font-weight: bold;
}

// Responsive

@media only screen and (max-width: 991px) {
  .section .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-img {
    margin-bottom: 50px;
  }
  .about-content .buttons {
    display: flex;
    justify-content: center;
    //align-items: center;
  }
  .resume-hire-box,
  .buttons-box {
    flex: 0 0 100%;
    max-width: 100vw;
  }

  .about .about-content .buttons .btn {
    margin: 0 auto;
    width: 100%;
  }
}
