.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-subtitle {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
}

.contact-form {
  padding: 20px;
  border-radius: 10px;
}

.contact-form label {
  color: var(--text-black-900);
  font-weight: 600;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 80px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px var(--skin-color);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: var(--skin-color);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 95%;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.contact-form button[type="submit"]:hover {
  //background-color: var(--text-black-900);
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
