.projects .container {
  padding-bottom: 40px;
}

.projects .projects-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.projects .projects-heading h2 {
  color: var(--text-black-900);
  font-weight: 600;
}

.projects .projects-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}

.projects .projects-item-inner {
  //border: 6px solid var(--bg-black-100);
  //border: 1px solid var(--skin-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  padding-bottom: 10px;
}

.github-demo-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.project-button {
  background-color: var(--skin-color);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}

.projects .projects-item-inner .project-img img {
  width: 100%;
  display: block;
}

.project-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-title {
  color: var(--text-black-900);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px;
}

// Responsive
@media only screen and (max-width: 991px) {
  .projects-list .projects-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .projects-list .projects-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
